Source: salt-formula-swift
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Filip Pytloun <filip@pytloun.cz>,
           Ondřej Nový <onovy@debian.org>,
Section: admin
Priority: extra
Build-Depends: debhelper (>= 10),
               openstack-pkg-tools,
Build-Depends-Indep: python-all,
                     python-yaml,
                     salt-master,
Standards-Version: 3.9.8
Homepage: https://wiki.openstack.org/wiki/OpenStackSalt
Vcs-Browser: https://anonscm.debian.org/cgit/openstack/salt-formula-swift.git/
Vcs-Git: https://anonscm.debian.org/git/openstack/salt-formula-swift.git

Package: salt-formula-swift
Architecture: all
Depends: reclass,
         salt-master,
         ${misc:Depends},
Description: Salt formula for OpenStack Swift
 Salt is a powerful remote execution manager that can be used to
 administer servers in a fast and efficient way.
 .
 This SaltStack formula manages both installation and configuration of
 OpenStack Swift.
